#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    text-shadow: 0 0 3px #333;
}

/* Clock */
#clock {
    color: #fff;
    font-size: 140px;
    letter-spacing: -2px;
    text-align: center;
}

/* User */
#user {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    color: #fff;
    font-size: 48px;
    text-align: center;
}
#user form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user input#user-name-input {
    width: 100%;
    height: 55px;
    margin-top: 15px;
    padding: 5px 0 8px 0;
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
input:focus {
    outline: none;
}
#user button {
    width: 180px;
    height: 50px;
    position: absolute;
    bottom: -65px;
    background: none;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
#user button:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}
#user #greeting {
    transform: translateX(35px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#user .menu {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    padding-top: 3px;
    border-radius: 35px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
}
#user .menu:hover {
    background: rgba(255, 255, 255, 0.2);
    color: aquamarine;
}
#user:hover .menu {
    transition: 0.3s;
    opacity: 1;
}

/* To do */
#todo-form #todo-input {
    max-width: 400px;
    height: 40px;
    margin: 7px 0 18px;
    padding: 5px 0 8px 0;
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 32px;
    text-align: center;
}
#todo-list {
    height: 250px;
    max-height: 250px;
    overflow-y: auto;
}
#todo-list::-webkit-scrollbar {
    width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 5px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
#todo-list::-webkit-scrollbar-track {
    background: none;
}

#todo-list .todo-item {
    min-width: 315px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    font-size: 26px;
    text-align: center;
}
#todo-list .todo-item:last-child {
    margin-bottom: 0;
}
#todo-list .todo-item .todo-item-done {
    text-decoration-line: line-through;
}
#todo-list .todo-item input[type='checkbox'] {
    display: none;
}
#todo-list .todo-item .todo-checkbox {
    margin-right: 10px;
    cursor: pointer;
}
#todo-list .todo-item .todo-checkbox:hover {
    color: aquamarine;
}
#todo-list .todo-item .todo-remove {
    width: 27px;
    height: 27px;
    padding: 2px;
    border-radius: 27px;
    cursor: pointer;
    opacity: 0;
}
#todo-list .todo-item:hover .todo-remove {
    transition: 0.3s;
    opacity: 1;
}
#todo-list .todo-item .todo-remove:hover {
    background: rgba(255, 255, 255, 0.2);
    color: aquamarine;
}